.add-todo-calendar {
  position: absolute;
  width: 300px;
  z-index: 1;
  cursor: default;
  background-color: white;
  /* transform: translateX(40%); */
  border: 1px solid grey;
  padding: 5px;
}

.month-indicator {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: 1em;
  padding: 0 30px;
}

.month-indicator>button {
  border: 0;
  cursor: pointer;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week>div {
  font-size: 0.7em;
  font-weight: 500;
  text-align: center;
}

.date-grid button {
  position: relative;
  border: 0;
  border-radius: 10%;
  height: 4.5ch;
  width: 4.5ch;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 700;
}

.date-grid button:hover {
  background-color: #e0e0e0;
}

.date-grid button:focus {outline: 0}

.currentDay {
  color: orange; 
}

.selectedDay {
  background-color: orange;
  color: white;
}